/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Akzidenz';
    src: url('/fonts/AkzidenzGroteskBQ-BoldExt.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskBQ-BoldExt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz';
    src: url('/fonts/AkzidenzGroteskBQ-Medium.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskBQ-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET
*/

div {
  box-sizing: border-box;
}



body{
	font-family:'Akzidenz', Arial;
	background:#F5F5F5;
	color:#4B4C55;
}

h1, h2{
	font-family:'Optima';
	font-size:3vw;
	font-weight: bold;
	letter-spacing: -.1vw;
	line-height: 0.9;
}

.stamparea{
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:-2;
	cursor:crosshair;
}

.stamparea h2{
	position:fixed;
	bottom:30px;
	left:30px;
}

.mainbody{
	width:90vw;
	height:100vh;
	margin:100vh 30px 30px;

}

img.stamp{
	position:fixed;
	z-index:-1;
	width:50vw;
}

header{
	margin:30px;
}

header p{
	color:#9395A7;
	font-size:2.5vw;
}

.projectitem{
	margin:0 0 100px 0;
	display:grid;
	grid-gap: 30px;
	grid-template-columns: repeat(10, 1fr);
	background-color: #ffffff;
}


.projectitem img{
	width:100%;
  grid-column: 1 / span 4;
	grid-row: 1;

}

.projectdesc{
	grid-column: 5 / span 6;
	grid-row: 1;
}

.projectdesc .title{
		font-size:8vw;
}

.projectdesc .desc{
	font-size:4vw;
	color:#9395A7;
	font-weight:bold;
	line-height:1.2;
}

a{
	color:#0E5ADD;
	text-decoration: none;
	border-bottom:1px solid #0E5ADD;
}

a:visited{
	color:#0E5ADD;
	text-decoration: none;
	border-bottom:1px solid #0E5ADD;
}
