<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <meta name="robots" content="noindex" />
    </head>
    <body>

        <div class="stamparea">
            <header>
                <h1>Alice Mae Mayall</h1>
                <p>Stamps, illustrations and animations</p>
            </header>

        </div>

<div class="mainbody">
        <h2>Work</h2>

        	  {% for post in site.categories.projects %}
                <div class="projectitem">
                    <h3>{{post.title}}</h3>
                    {% assign foundImage = 0 %}
{% assign images = post.content | split:"<img " %}
{% assign foundImage = 0 %}
{% assign images = post.content | split:"<img " %}
{% for image in images %}
  {% if image contains 'src' %}

      {% if foundImage == 0 %}
          {% assign html = image | split:"/>" | first %}
          <img {{ html }} class="post"/>
          {% assign foundImage = 1 %}
      {% endif %}
  {% endif %}
{% endfor %}


        		<a href="{{post.url}}">View case study</a>

            </div>
        	  {% endfor %}

</div>


        <script src="js/main.js"></script>
    </body>
</html>
